* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-family: Arial, Helvetica, sans-serif;
    --color: #221f1f;
    --background-color: #fff;
    --button-radius: 5px;
    --line-height: 1.5;
    --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    --box-shadow-top: 2px 0 4px rgba(0, 0, 0, 0.1);
}

body {
    font-family: var(--font-family);
    color: var(--color);
    background-color: var(--background-color);
    line-height: var(--line-height);

    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style: none;
}
