.menu-nav {
    position: relative;
}

.menu-nav ul {
    /* display: flex; */
    gap: 20px;
    justify-content: space-around;
    box-shadow: var(--box-shadow);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    min-width: 200px;
    z-index: 1000;
    /* border: 1px solid red; */
}

.dropdown:hover .submenu {
    display: block;
}

.submenu li {
    padding: 10px 15px;
    display: block;
}

.submenu li:hover {
    background-color: #f5f5f5;
}
